<h1>Kansas Computer Science Standards</h1>
<div class="standard-header">
  <div>
    Identifier
  </div>
  <div>
    Standard
  </div>
  <div>
    Concept
  </div>
  <div>
    Subconcept
  </div>
  <div>
    Practices
  </div>
  <div class="hidden-on-medium">
    Grade Level
  </div>
</div>
<div>
  <%- renderedStandards %>
</div>
